@import '../../../../../stylesheets/variables';

.work {
  $root: &;
  margin: $marge auto;
  max-width: $max-width;
  width: 100%;

  &__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    // margin-right: 20px;
  }
}
