<section class="single" *ngIf="works$ | async as works" [class.loaded]="loaded">
  <div *ngIf="works[slug]">
    <h2 class="single__title">{{ works[slug].title }}</h2>

    <a
      class="single__close"
      routerLink="/works"
      aria-label="fermer le projet"
      cursor-close
    >
      <svg
        width="357px"
        height="357px"
        viewBox="0 0 357 357"
        style="enable-background: new 0 0 357 357;"
        xml:space="preserve"
      >
        <g>
          <g id="add">
            <path d="M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z" />
          </g>
        </g>
      </svg>
    </a>

    <div class="single__content">
      <div class="single__tag">
        {{ works[slug].tag }}
      </div>
      <div *ngIf="works[slug].porfolio">
        <portfolio [data]="works[slug].porfolio"></portfolio>
      </div>
    </div>
  </div>
</section>
