<button 
  class="burger hamburger hamburger--spin" 
  type="button" 
  (click)='openMenu()'
  [class.is-active]="isMenuOpen"
>
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>

<header class="header">
  <ul (click)='openMenu()'>
    <li  (mouseenter)="loadPage('/work')" router-link='/work' class='header__link'>Portfolio</li>
    <li class='limit'>/</li>
    <li  (mouseenter)="loadPage('/about')" router-link='/about' class='header__link'>À propos</li>
    <li class='limit'>/</li>
    <li  (mouseenter)="loadPage('/contact')" router-link='/contact' class='header__link'>Contact</li>
  </ul>
</header>

