@import "~src/assets/stylesheets/variables";
@import "~src/assets/stylesheets/components/hamburger";

.header{
  background-color: $white;
  height: 100vh;
  left: 0;
  padding: $marge;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: $z-nav;

  ul{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 220px;
    justify-content: center; 
    list-style:none;
    margin: 0;
    padding: 0;

    @media screen and(max-width:#{$breakpoint}) {
      flex-direction: column;
      height: 180px;
      .limit{
        display: none;
      }
    }
  }

  li{
    color:$black;
    font-size: 45px;
    line-height: 50px;
    padding:10px 10px;
    width: auto;

    &.header__link{
      outline: none;
      transition: all 150ms ease-out;
  
      &:hover, &:focus{
        cursor: pointer;
        color:$pomegranate;
      }
    }

    @media screen and(max-width:#{$breakpoint}) {
      font-size: 20px;
      line-height: 22px;
    }
  }

}

.burger{
  left: $marge-menu;
  outline: none;
  position: fixed;
  top: $marge-menu;
  z-index: $z-nav-btn;

  &::before{
    position: absolute;
    top: 0;
    left: 0;
    content:'';
    background-color: $white;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 150ms ease-out;
  }

  &:hover, &:focus {
    &::before{
      opacity: 0.15;
    }
  }
  
  @media screen and(max-width:#{$breakpoint}) {
    left: $marge-menu-small;
    top: $marge-menu-small;
  }
}