@import "../../../../../stylesheets/variables";

.portfolio{
  
  &__item{
    padding: $marge 0;
  }

  &__link{

  }

  &__text::ng-deep{
    ul{
      padding-left: 20px;
    }
  }

  &__button{
    appearance: none;
    background-color: $pomegranate;
    border-radius: 0;
    border:0px;
    color:$black;
    cursor: pointer;
    font-size: 12px;
    height: 40px;
    margin-top: $marge;
    outline: none;
    padding: 10px 10px 10px 25px;
    position: relative;
    text-decoration: underline;
    width: auto;

    &:hover, &:focus{
      background-color: $white;
    }

    &::before{
      content: '>';
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }

}