@import "~src/assets/stylesheets/variables";

.slide{
  $padding : 0 30px;
  $padding-small : 0 15px;
  $root : &;

  align-items: flex-start;
  box-shadow: inset 0 0 2000px 2000px rgba($black, 0.9);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  outline: none;
  overflow: hidden;
  position: relative;
  transition: all 150ms ease-out;
  width: 100%;
  
  &:hover, &:focus{
    box-shadow: inset 0 0 2000px 2000px rgba($pomegranate, 0.9);
    #{$root}__title{
      transform:translateY(- #{$marge});
      color:$black;
    }
    #{$root}__date{
      color:$black;
      div{
        border-bottom: 1px solid $black;
        width: 70px;
      }
    }
    #{$root}__text{
      height: 60px;
      opacity: 1;
    }
  }

  @media screen and(max-width:#{$breakpoint}) {
    box-shadow: inset 0 0 2000px 2000px rgba($pomegranate, 0.9);
    width: 100%;
    max-width: 400px;
  }
  
  &__img{
    filter: grayscale(1);
    height: 100%;
    left: 0;
    object-fit: cover;
    outline: none;
    position: absolute;
    top: 0;
    transform: scale(1.1);
    width: 100%;
    z-index: -1;
  }

  &__title{
    color:$white;
    font-size: 30px;
    padding:$padding;
    position: relative;
    transition: all 300ms ease-out;

    @media screen and(max-width:#{$breakpoint}) {
      color:$black;
      padding:$padding-small;
      transform:translateY(- #{$marge});
      font-size: 22px;
    }
  }
  
  &__date{
    color:$white;
    display: flex;
    padding:$padding;
    transition: all 300ms ease-out;

    div{
      border-bottom: 1px solid $white;
      height: 9px;
      margin: 0 10px;
      transition: all 300ms ease-out;
      width: 50px;
    }

    @media screen and(max-width:#{$breakpoint}) {
      color:$black;
      padding:$padding-small;

      div{
        border-bottom: 1px solid $black;
        width: 70px;
      }
    }
  }

  &__text{
    color:$black;
    height: 0px;
    margin: 15px 0 0 0;
    max-width: 300px;
    opacity: 0;
    padding:$padding;
    transition: all 300ms ease-out;

    @media screen and(max-width:#{$breakpoint}) {
      padding:$padding-small;
      height: 60px;
      color:$black;
      opacity: 1;
      font-size: 14px;
      line-height: 20px;
      width: 100%;
    }
  }
}