$height-nav: 50px;
$marge: 15px;
$max-width: 1100px;

$marge-menu: 30px;
$marge-menu-small: 10px;

$breakpoint: 1024px;

$z-menubtn: 110;
$z-menu: 105;
$z-marge: 101;
$z-loading: 100;
$z-title: 80;
$z-nav: -1;
$z-nav-btn: 1;
$z-body: 0;
$z-slide: 10;

// COLORS
$black: #fcfafa;
$grey: #e5e4ef;
$pomegranate: #2172f3;
$denim: #1048e6;
$white: #1d31a1;
$noir: #000;

$blackk: #141414;
$whitee: #fff;
