@import "../../../../../assets/stylesheets/variables";

.skill-svg{
  margin-top: $marge;
  margin-right: $marge;
  width: auto;

  svg{
    fill:$denim;
    height: 53px;
    width: auto;
  }

  @media screen and(max-width:#{$breakpoint}) {
    margin-right: 10px;
    margin-top: 10px;

    svg{
      height: 32px;
    }
  }
}