@import '../../../../stylesheets/variables';

.footer {
  display: none;

  @media screen and(min-width:#{$breakpoint}) {
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    max-width: $max-width;
    position: absolute;
    right: 10px;
  }

  &__txt {
    color: $pomegranate;
    font-size: 12px;

    @media screen and(max-width:#{$breakpoint}) {
      font-size: 11px;
    }
  }

  svg {
    width: 15px;
    height: 15px;
    fill: $pomegranate;
    margin: 0 10px;
    transform: translateY(-1px);
  }
}
