<section class="menu">
  <ul class="menu__contact">
    <li>
      <a target="_blank" href="https://www.linkedin.com/in/maxime1jacquet/"
        >LinkedIn</a
      >
    </li>

    <li>
      <a
        target="_blank"
        href="https://maximejacquet.fr/assets/maximejacquet_cv.pdf"
        >CV</a
      >
    </li>

    <li>
      <a target="_blank" href="https://github.com/maxime1jacquet">Github</a>
    </li>

    <li>
      <a target="_blank" href="https://twitter.com/maxime1jacquet">Twitter</a>
    </li>
  </ul>

  <ul class="menu__list">
    <li routerLink="/portfolio" routerLinkActive="active">Projets</li>
    <li routerLink="/about" routerLinkActive="active">À propos</li>
  </ul>

  <!-- <img src="/assets/imgs/profil.jpg" alt="" /> -->
</section>
