@import '../../../../stylesheets/variables';

.menu {
  height: 100%;

  &__contact {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    bottom: 0;
    border-left: 1px solid $blackk;

    a {
      padding: 5px 10px;
      color: $blackk;
      text-decoration: none;
      display: block;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &__list {
    margin: 0 0 0 100px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    li {
      cursor: pointer;
      font-size: 30px;
      outline: none;
      padding: 10px 0;

      &.active,
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
