@import '../../../../../stylesheets/variables';

.item {
  $root: &;
  display: flex;
  position: relative;
  outline: none;
  overflow: hidden;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-out;

  &.current {
    height: 50%;
    transition: all 300ms ease-out;
  }

  &__image {
    height: 700px;
    width: auto;
    border-radius: 10px;
  }

  &__title {
    color: $white;
    font-size: 30px;
    position: relative;
    transition: all 300ms ease-out;
    bottom: 20%;
    right: 10%;
    position: absolute;
    background-color: $black;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;

    transition: all 300ms ease-out;
    transform: translateX(-50px);
    opacity: 0;
  }

  &.active {
    #{$root}__title {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
