@import "../../../../../stylesheets/variables";

.item {
  $root: &;
  align-items: flex-start;
  background-color: $black;
  border-top: 2px solid $grey;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  outline: none;
  overflow: hidden;
  padding: 35px 0 30px 0;
  position: relative;
  text-decoration: none;
  transition: transform 800ms ease-out;
  width: 100%;

  @media screen and(min-width:#{$breakpoint}) {
    &:hover,
    &:focus {
      #{$root}__title {
        transform: translateX(30px);
      }
      #{$root}__date {
        transform: translateX(30px);
      }
      #{$root}__tag {
        transform: translateX(20px);
      }
    }
  }

  &.current {
    transform: scale(7);
    transition-delay: 400ms;
    z-index: $z-slide;
    border-top: 2px solid $black;

    #{$root}__title {
      opacity: 0;
      transform: translateX(80px);
      transition-delay: 100ms;
    }
    #{$root}__date {
      opacity: 0;
      transform: translateX(80px);
    }
    #{$root}__tag {
      opacity: 0;
      transform: translateX(80px);
    }
  }

  @media screen and(max-width:#{$breakpoint}) {
    padding: 20px $marge;
  }

  &__title {
    color: $pomegranate;
    font-size: 30px;
    position: relative;
    transition: all 300ms ease-out;

    @media screen and(max-width:#{$breakpoint}) {
      font-size: 18px;
    }
  }

  &__date {
    padding-top: 10px;
    color: $grey;
    display: flex;
    transition: all 300ms ease-out;

    div {
      border-bottom: 1px solid $grey;
      height: 9px;
      margin: 0 10px;
      transition: all 300ms ease-out;
      width: 50px;
    }
  }
}
