@import '../../../../stylesheets/variables';

.app {
  background-color: $black;
  display: flex;
  flex-direction: column;
  height: calc(100% - 2 *#{$marge-menu});
  left: $marge-menu;
  min-height: calc(100% - 2 *#{$marge-menu});
  overflow-y: scroll;
  padding: 50px $marge $marge;
  position: absolute;
  top: $marge-menu;
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: calc(100% - 2 *#{$marge-menu});
  z-index: $z-body;

  @media screen and(max-width:#{$breakpoint}) {
    left: $marge-menu-small;
    min-height: calc(100% - 2 *#{$marge-menu-small});
    top: $marge-menu-small;
    width: calc(100% - 2 *#{$marge-menu-small});
  }

  &.open {
    position: fixed;
    // transform: scale(0.9) translateY(200px);
    transform: translateY(200px);

    @media screen and(max-width:#{$breakpoint}) {
      transform: translateX(250px) translateY(0px);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
