<div *ngIf="menuState$ | async as menuState">
  <div *ngIf="title$ | async as title">
    <loading [isLoaded]="title.loaded"></loading>

    <app-header
      [isMenuOpen]="menuState.isOpen"
      (onOpenMenu)="openMenu()"
    ></app-header>

    <main
      class="app"
      role="main"
      [class.open]="menuState.isOpen"
      (mouseenter)="closeMenu()"
    >
      <div class="app__content">
        <app-title [title]="title"></app-title>
        <router-outlet #outlet="outlet"></router-outlet>
        <!-- <app-footer></app-footer> -->
      </div>
    </main>
  </div>
</div>

<ngx-cursor
  *ngIf="isLarge"
  color="#1048e6"
  [delay]="40"
  [selectors]="['view', 'close']"
  [words]="['voir', 'fermer']"
  [cursor]="false"
></ngx-cursor>
