<div *ngIf="(menuState$ | async) as menuState">
  <div *ngIf="(title$ | async) as title">
    <loading [isLoaded]="title.loaded"></loading>

    <app-header
      [isMenuOpen]="menuState.isOpen"
      (onOpenMenu)="openMenu()"
    ></app-header>

    <main
      class="app"
      [class.open]="menuState.isOpen"
      (mouseenter)="closeMenu()"
    >
      <div class="app__content">
        <app-title [title]="title"></app-title>
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </main>
  </div>
</div>
