<section class="maximejacquet" ngx-parallax [speed]="-10">
  <img class="maximejacquet__img" src="assets/imgs/profil.jpg" alt="" />
  <h1 class="maximejacquet__name">Maxime Jacquet</h1>
  <p class="maximejacquet__desc">
    Dev Front-end à Yoozly & étudiant M2, Expert en Système Informatique.
  </p>
  <div class="maximejacquet__contact">
    <a href="https://www.linkedin.com/in/maxime1jacquet/" target="_blank"
      >linkedin</a
    ><br />
    <a href="https://github.com/maxime1jacquet" target="_blank">github</a><br />
    <a href="https://twitter.com/maxime1jacquet" target="_blank">twitter</a
    ><br />
  </div>
</section>
