<section class="maximejacquet" ngx-parallax [speed]="-10">
  <img class="maximejacquet__img" src="assets/imgs/profil.jpg" alt="" />
  <h1 class="maximejacquet__name">Maxime Jacquet</h1>
  <!-- <p class="maximejacquet__desc">
    Dev Front-end à Yoozly & étudiant M2, Expert en Système Informatique.
  </p> -->
  <p class="maximejacquet__desc">
    Je suis développeur front-end et passionné par mon métier. Après trois ans
    d'expérience professionnelle dans une agence web. Je maitrise SASS, ANGULAR,
    RXJS, VUEJS, ES6, API REST. Je connais l'importance des étapes UX, UI et de
    web desing. En entreprise je suis sérieux et rigoureux, j'aime être fier des
    projets réalisés.
  </p>
  <div class="maximejacquet__contact">
    <a href="https://www.linkedin.com/in/maxime1jacquet/" target="_blank"
      >linkedin</a
    >
    <a href="https://github.com/maxime1jacquet" target="_blank">github</a>
    <a href="https://twitter.com/maxime1jacquet" target="_blank">twitter</a>
  </div>
</section>
