@import '../../../../stylesheets/variables';

.title {
  position: relative;
  margin-top: 30px;

  h1 {
    color: $whitee;
    font-size: 60px;
    position: relative;
    // font-weight: 700;
    text-decoration: underline;
  }
}
