<section class="contact" [class.loaded]="loaded">
  <ul class="contact__list">
    <li class="contact__item">
      <a target="_blank" href="https://www.linkedin.com/in/maxime1jacquet/"
        >LinkedIn</a
      >
    </li>

    <!-- <li class="contact__item">
      <a
        target="_blank"
        href="https://maximejacquet.fr/assets/maximejacquet_cv.pdf"
        >CV</a
      >
    </li> -->

    <li class="contact__item">
      <a target="_blank" href="https://github.com/maxime1jacquet">Github</a>
    </li>

    <li class="contact__item">
      <a target="_blank" href="https://twitter.com/maxime1jacquet">Twitter</a>
    </li>
  </ul>
</section>
