@import "~src/assets/stylesheets/variables";

.title{
  h1{
    font-size: 30px;
    color:$white;
  }
  h2{
    font-size: 22px;
    color:$pomegranate;
  }

  @media screen and(max-width:#{$breakpoint}) {
    h1{
      font-size: 22px;
    }
    h2{
      font-size: 15px;
    }
  }
}