@import '../../../../../stylesheets/variables';

.about {
  $root: &;
  color: $whitee;
  font-size: 45px;
  line-height: 70px;
  max-width: 60%;

  p {
    margin-top: 50px;
  }

  strong {
    font-weight: 500;
    text-decoration: underline;
    position: relative;
  }
}
