$height-nav: 50px;
$marge: 15px;
$max-width: 1200px;
$marge-menu: 18px;
$marge-menu-small: 6px;

$breakpoint : 1024px;

$z-nav: -1;
$z-nav-btn: 1;
$z-body: 0;
$z-slide: 1;

// // BLACK
$black : #FFF;
$white : #000;
$pomegranate: #2172F3;
$denim: #0F55C5;

// BLEU
// $white : #212121;
// $black : #03A9F4;
// $pomegranate: #0475b3;
// $denim: #0F55C5;

// //ROSE
// $white : #2E294E;
// $black : #D90368;
// $pomegranate: #FFD400;

// //JAUNE
// $white : #FFD800;
// $black : #000216;
// $pomegranate: #FFD800;
// $denim: #ffbc05;

// // NEW
// $white : #3448cc;
// $black : #F6F6F6;
// $pomegranate: #ffbb00;
// $denim: #e48022;
