@import "../../../../stylesheets/variables";

.loading {
  background-color: $white;
  background: linear-gradient(
    to bottom right,
    #{$white},
    #{darken($white, 10%)}
  );
  bottom: 0;
  height: 100%;
  position: fixed;
  right: 0;
  transition-delay: 1000ms;
  transition: all 400ms ease-out;
  width: 100%;
  z-index: $z-loading;

  &.loaded {
    opacity: 0;
    visibility: hidden;
  }
}
